<div class="container">
  <br>
  <br>
  <ul class="nav nav-tabs" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">


        <div class="col-sm-12">

          <div class="firstTab" style="background-color: #2F58CD !important;">
            <h4>50</h4>
            <p class="FirstLine">Registered User</p>
          </div>
        </div>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">

        <div class="firstTab" style="background: #d66756 !important;">
          <h4>5800000</h4>
          <p class="FirstLine">
            Vahan Transaction</p>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">

        <div class="firstTab" style="background: #3795BD !important;">
          <h4>{{SarathiCount}}</h4>
          <p class="FirstLine"> Sarathi Transaction </p>
        </div>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab" style="padding-right:0px">

        <div class="firstTab" style=" background: #db9d3b !   ;">
          <h4>{{ChallanCount}}</h4>
          <p class="FirstLine">eChallan Transaction </p>
        </div>
      </a>
    </li>
  </ul><!-- Tab panes -->
  <br>
  <br>
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane active" id="tabs-1" role="tabpanel">
        <h4 div class="heading">Registered User</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Year</th>
              <th>Counit</th>
              <th>Actve</th>
              <th>Deactive</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Till Date</b></td>
              <td>1500</td>
              <td>1400</td>
              <td>100</td>
            </tr>
            <tr>
              <td><b>2022</b></td>
              <td>100</td>
              <td>90</td>
              <td>10</td>
            </tr>
            <tr>
              <td><b>2021</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2020</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2019</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2018</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2017</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="tabs-2" role="tabpanel">
        <div class="container">

          <div class="col-sm-6" style="padding-left: 0px;">
            <div class="panel-heading active" role="tab" id="headinOneg">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual RC
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-sm-6" style="padding-right: 0px;">
            <div class="panel-heading active" role="tab" id="headinTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual DL
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="tabs-3" role="tabpanel">
        <div class="container">

          <div class="col-sm-6" style="padding-left: 0px;">
            <div class="panel-heading active" role="tab" id="headinOneg">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual RC
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-sm-6" style="padding-right: 0px;">
            <div class="panel-heading active" role="tab" id="headinTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual DL
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tabs-4" role="tabpanel">
        <h4 div class="heading">No of Transaction</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Year</th>
              <th>Count</th>
              <th>Active</th>
              <th>Deactive</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Till Date</b></td>
              <td>1500</td>
              <td>1400</td>
              <td>100</td>
            </tr>
            <tr>
              <td><b>2022</b></td>
              <td>100</td>
              <td>90</td>
              <td>10</td>
            </tr>
            <tr>
              <td><b>2021</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2020</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2019</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2018</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2017</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <h4 class="heading" style="margin-bottom:50px;">Registered User Chart</h4>

  <div class="barchart-Wrapper">
    <div class="barchart-TimeCol">
      <div class="barchart-Time">
        <span class="barchart-TimeText">500</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">400</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">300</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">200</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">100</span>
      </div>
    </div>

    <div class="barChart-Container">
      <div class="barchart">
        <div class="barchart-Col">
          <div class="barchart-Bar html-bar" style="height: 75%;"></div>
          <div class="barchart-BarFooter">
            <h3>2022</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar css-bar" style="height: 50%;"></div>
          <div class="barchart-BarFooter">
            <h3>2021</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar js-bar" style="height: 75%;"></div>
          <div class="barchart-BarFooter">
            <h3>2020</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar python-bar" style="height: 25%;"></div>
          <div class="barchart-BarFooter">
            <h3>2019</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 100%;"></div>
          <div class="barchart-BarFooter">
            <h3>2018</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 70%;"></div>
          <div class="barchart-BarFooter">
            <h3>2017</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 80%;"></div>
          <div class="barchart-BarFooter">
            <h3>2016</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 50%;"></div>
          <div class="barchart-BarFooter">
            <h3>2015</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<!-- <h4>{{ChallanCount}}</h4> -->

