<div class="container">
       <form  id ="form">
          <label for="uname"><b>Username</b></label>
          <input  type="text" [(ngModel)]="username" name="username" class="form-control" required>
          <label for="psw"><b>Password</b></label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" required>   
          <button (click)="login()" type="submit">Login</button>
          <h5 class="signup">Don't have an account! <a (click)="signup();" class="linksignup"> Sign Up Here </a></h5>  
      </form>
  </div>
  