<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">State
        </th>
        <th class="th-sm">Services
        </th>
        <th class="th-sm">status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Delhi</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Uttar Pradesh</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Haryana</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Panjab</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Bihar</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Rajasthan</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Himanchal</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Goa</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Gujarat</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Maharastra</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Delhi</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Uttar Pradesh</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Delhi</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Uttar Pradesh</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Delhi</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Uttar Pradesh</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Delhi</td>
        <td>vahan</td>
        <td>Active</td>
      </tr>

      <tr>
        <td>Uttar Pradesh</td>
        <td>Transport</td>
        <td>Pending</td>
      </tr>
     
    </tbody>

  