
<!-- ADMIN Role 1 -->
<!-- <div *ngIf="isAdmin()"> -->
    <li>
        <a routerLink="/admin"><i class="fa fa-fw fa-user-plus"></i>Dashboard</a>
    </li>
    
    <!-- ADMIN Staff Role 2-->
    <!-- <div *ngIf="isStaff()"> -->
        <li>
            <a data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-search"></i> User <i
                    class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-1" class="collapse">
                <li routerLink="profile"><a><i class="fa fa-angle-double-right"></i>User Profile</a></li>
                <li routerLink="userList"><a><i class="fa fa-angle-double-right"></i>User List</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="contactDetails"><i class="fa fa-fw fa-user-plus"></i>Contact</a>
        </li>
    <!-- </div> -->
   
    <!-- ADMIN Staff Role 2-->
    
    <li>
        <a routerLink="states"><i class="fa fa-fw fa-user-plus"></i>State <Table></Table></a>
    </li>
    <li>
        <a routerLink="seviceForm"><i class="fa fa-fw fa-user-plus"></i>Sevice Form</a>
    </li>
<!-- </div> -->

<!-- Close ADMIN Role 1 -->