li{
    padding: 10px;
    cursor: pointer;
}
a{
color: #fff;
text-decoration: none;
}

#submenu-1
{
    padding: 0px !important;
}


.fa-fw {

    text-align: center;
    font-size: 18px !important;
    margin-right: 10px;
}

.fa {
    margin-right: 10px;
}