body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400
}

.row {

    margin-right: 0px;
    margin-left: 0px;
}

.top-navigation-section {
    background: #434242;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
    transition: 2s;
    font-family: sans-serif, Verdana;
    font-weight: 400;
    font-size: 12px;
    height: 36px;
}

.top-navigation-section:hover {
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
    transition: 2s;
    background: #343434;
}
.inline-section {
    display: inline-block;
}

.logo-header-section {
    background: #FFFFFF;
}

.vertical-right-divider {
    border-right: 2px solid #000;
    padding-right: 10px;
    margin: 5px;
    box-sizing: content-box
}

.slogan-name {
    font-family: 'Open Sans';
    font-size: 1.75em;
    color: #000000;
    text-shadow: 1px 1px #CCC;
    text-transform: uppercase;
    font-weight: bold;
}

.govt-india {
    font-family: 'Open Sans';
    font-size: 1.8em;
    color: #484646;
    margin: 8px auto 0px;
}

.logo-resize {
    width: auto;
    height: 70px
}

.text-size {
    font-size: 30px;
}

.footer-resize img{
    width: auto;
    height: 50px;
}

@media  screen and (max-width:979px) {
    .hide-responsive-section {
        display: none!important
    }
    .govt-india {
        font-size: 1.0em
    }
    .slogan-name {
        font-size: 1.0em;
        margin: 0px auto 4px;
        font-weight: 700
    }
    .logo-resize {
        width: auto;
        height: 30px
    }

    .text-size {
        font-size: 20px;
    }

    .footer-resize {
        text-align: left;
    }

    .footer-resize img{
        width: auto;
        height: 40px;
    }

}

@media  screen and (max-width:600px) {
    .govt-india {
        font-size: 1em
    }
    .slogan-name {
        font-size: 1.0em;
        margin: 0px auto 4px;
        font-weight: 700
    }
    .resize-panel-position {
        text-align: center!important
    }
    .vertical-divider {
        border-left: 0 solid transparent
    }
    .footer-top-section .float-right {
        float: none!important
    }

    .footer-resize {
        text-align: left;
    }

    .footer-resize img{
        width: auto;
        height: 40px;
    }
}


.navbar-default .navbar-toggle {
    border: 2px solid #FFF!important
}

.navbar-default,
.navigation-background,
.navigation-background-nav {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer
}

.navbar-default,
.navigation-background,
.navigation-background-nav {

    color: #fff;
    z-index: 9999;
    background: #1b588c;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1b588c), to(#002c46));
    background: -webkit-linear-gradient(top, #1b588c, #002c46);
    background: -moz-linear-gradient(top, #1b588c, #002c46);
    background: -ms-linear-gradient(top, #1b588c, #002c46);
    background: -o-linear-gradient(top, #1b588c, #002c46);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15)
}

.navbar {
    margin-bottom: 0!important
}

.navbar-default .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a {
    background: #0379c0;
    background: -webkit-linear-gradient(#3ba8c4, #1992d1);
    background: -moz-linear-gradient(#3ba8c4, #1992d1);
    background: -o-linear-gradient(#3ba8c4, #1992d1);
    background: -ms-linear-gradient(#3ba8c4, #1992d1);
    background: linear-gradient(#3ba8c4, #1992d1);
    box-shadow: none
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff!important;
    background-color: #00446d!important
}

.navbar-toggle {
    color: #fff
}

.dropdown-menu>li>a {
    color: #000!important
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff!important;
    background-color: #00648c!important
}

.navbar-default .navbar-nav>li>a {
    color: #fff
}

.nav>li>a {
    padding: 9px
}

.navbar-toggle {
    background: 0 0!important;
    border: 1px solid #333!important
}

.navbar-default .navbar-toggle .icon-bar {
    color: #fff!important;
    background-color: #fff!important
}

@media (max-width:767px) {
    .navigation-background-nav {
        background: #00648c
    }
    .navbar-nav {
        margin: auto -15px
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff!important
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff!important;
        background-color: #00648c!important
    }
}
.table-width-four td {
    width: 25%;
    vertical-align: top!important
}

.table-width-oneforth td:nth-child(1) {
    width: 25%!important;
    vertical-align: top!important
}

.table-width-oneforth td:nth-child(2) {
    width: 75%!important;
    vertical-align: top!important
}
.bottom-space
{
    margin-bottom: 10px;
}
.font-bold {
    font-weight: bold;
}
.center-position {
    text-align: center !important;
}
.inline-section
{
    display: inline-block;
}
.vertical-section h2{
    color: #1996bb;
    font-family: monospace;
    font-size: 240%;
}
.vertical-section
{
    vertical-align: top;
}
.contact-font{
    font-size: 18px;
    color: #0089a9;
    font-weight: bold;
    font-family: monospace;
}
