<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="height: 100px;">
    <app-admin-header></app-admin-header>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <app-sidebar></app-sidebar>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>