form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#form
{
    min-width: 320px;
    max-width: 700px;
 margin: auto;

 padding: 30px 30px 90px 30px;
}

.signup
{
  width: 100%;
  float: left;
  padding: 30px 0px;
  text-align: center;
}

.linksignup
{
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.left
{
padding-left: 0px;

}


.right
{
padding-right: 0px;
}


@media screen and (max-width: 760px) {
    .left
    {
    padding: 0px;
    
    }
    
    
    .right
    {
    padding: 0px;
    }

  }