<app-header></app-header>
<div class="container">
    <form  id ="form">
        <div class="col-sm-12">
          <label for="uname"><b>Username</b></label>
          <input  type="text"  name="username" class="form-control" placeholder="User Name" required>
        </div>
        <div class="col-sm-12" style="margin:10px 0px;">
            <div class="col-sm-6 left">
          <label for="psw"><b>Email</b></label>
          <input type="email"  name="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="col-sm-6 right">
          <label for="psw"><b>Mobile</b></label>
          <input type="number"  name="mobile" max="10" min="10" class="form-control" placeholder="Mobile Number" required>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6 left">
            <label for="psw"><b>Password</b></label>
            <input type="password"  name="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="col-sm-6 right">
            <label for="psw"><b>Confarm Password</b></label>
            <input type="password"  name="cpassword" class="form-control" placeholder="Confarm Password"  required>
          </div>
          </div>
          <button  type="submit">Sign Up</button>

          <h5 class="signup">Do you have an account! <a (click)="SignIn();" class="linksignup"> Sign In Here </a></h5> 
          
      </form>

 
    </div>
<app-footer></app-footer>
