<div class="col-sm-12">
    <div class="card mb-4">
        <div class="card-header" style="text-align: center; font-size: 28px;">Service Details</div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="small mb-1" for="serviceName">Service Name</label>
                    <input class="form-control" id="serviceName" type="text" placeholder="Enter Service Name"
                       >
                </div>
                <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceCode">Service Code</label>
                        <input class="form-control" id="serviceCode" type="text"
                            placeholder="Enter Service Code" >
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceModule">Service Module</label>
                        <input class="form-control" id="serviceModule" type="text"
                            placeholder="Enter Service Module" >
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceStatus">Service Status</label>
                        <input class="form-control" id="serviceStatus" type="text"
                            placeholder="Enter Service Status" >
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceOrder">Service Order</label>
                        <input class="form-control" id="serviceOrder" type="text" placeholder="Enter Service Order"
                            >
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                    <label class="small mb-1" for="serviceAndroid">Service Android</label>
                    <input class="form-control" id="serviceAndroid" type="email"
                        placeholder="Enter Service Android">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="serviceIos">Service Ios</label>
                            <input class="form-control" id="serviceIos" type="email"
                                placeholder="Enter Service Ios">
                                </div>
                </div>
                <!-- <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputBirthday">Service created</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputBirthday">Service Updated</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                </div> -->
                <div class="col-sm-12" style="text-align: center; display: block; margin-top: 15px;">
                <button style="display: inline-block;" class="btn btn-primary" style="margin-top: 20px;" type="button">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>