<div class="row">
    <div class="col-sm-4">
        <div class="card mb-4 mb-xl-0">
            <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png"
                alt="">
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users
                            on
                            the site)</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username"
                            value="Admin">
                    </div>
                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name</label>
                            <input class="form-control" id="inputFirstName" type="text"
                                placeholder="Enter your first name" value="Admin">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Last name</label>
                            <input class="form-control" id="inputLastName" type="text"
                                placeholder="Enter your last name" value="Admin">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputOrgName">Organization name</label>
                            <input class="form-control" id="inputOrgName" type="text"
                                placeholder="Enter your organization name" value="NIC">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">Location</label>
                            <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location"
                                value="Shastri park">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                        <input class="form-control" id="inputEmailAddress" type="email"
                            placeholder="Enter your email address" value="admin@nic.com">
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number"
                                value="+91 9988998899">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Date of birthday</label>
                            <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                placeholder="Enter your birthday" value="06/10/1988">
                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin-top: 20px;" type="button">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>