.small
{
    padding: 10px 0px;
    width: 100%;
    float: left;
    margin: 0px;
    font-size: 90%;
}

.form-control
{
    padding: 9px 10px;
    width: 100%;
    float: left;
}

.card-header
{
    margin-bottom: 12px;
    width:100%;
    float: left;
    font-size: 22px;
}